* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
  }
  
.zone {
    /* padding:30px 50px; */
    color:black;
    font-size:1em;
    border-radius:4px  ;
    border:1px solid grey;
    transition: all 0.3s linear;
    
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.cursor{
  cursor: pointer;
  color: grey;
  font-size: 1.2rem;
  font-weight: bold;
}
.Logo{
    cursor: pointer;
    color: Black;
    font-size: 1.75rem;
 
}
.login{
  padding: 12px 30px;
  color: #fff;
  background: #19affb;
  text-transform: uppercase;
  position: relative;
}
.login:hover{
  background: #eddb29;
}
.img{
  height: 400px;
  /* width: 512px; */
}
.imgcontainer{
  height: 500px;
}
.firstpart{
  background-image: linear-gradient(#19affb, #fdd338);
}
.login2{
  padding: 14px 25px;
  color: #fff;
  background: #19affb;
  text-transform: uppercase;
  position: relative;
}
h3{
  padding: 10px;
  font-size: 1.4rem;
  color: rgb(78, 70, 70);
}
.online{
  color: #041841;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
}
/* .mainmenu .li .a::after{
  background-color: #19affb;
}
.mainmenu li a:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  content: "";
  z-index: 1;
  transition: .3s;
  border-radius: 5px;
} */
/* 
.header{
    position: relative;
    z-index: 99;
    transition: all 0.4s ease-in-out 0s;
}
/* .header .home-menu{
    transition: padding .5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px;
    padding: 15px;
} */

  /* NAVIGATION */
  
  /* .box{
    border: 0px solid black;
}
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
    
  }
  
  .navbar img {
    height: 20px;
    width: 100px;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
  }
  
  .nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    padding: 5px;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }
.button{
    padding: 2px;
}
.header-btn a.button{
    padding: 7px 25px;
}
 .button{
    display: inline-block;
    background-color: #19affb;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    z-index: 1;
    transition: all .5s;
 } 


   */ 