<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <%- include('./Dashboardstyle.ejs') %>
    <!-- <link rel="stylesheet" href="Dashboard.css"> -->
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Online Exam</span>
    </div>
      <ul class="nav-links">
        <li class="zone2">
          <a href="dashboard" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li class="zone2">
          <a href="student" class="active">
            <i class='bx bx-box' ></i>
            <span class="links_name">Students</span>
          </a>
        </li>
        <li class="zone2">
          <a href="teacher" class="active">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Teachers</span>
          </a>
        </li>
        <li class="zone2">
          <a href="department">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Department</span>
          </a>
        </li>
        <li class="zone2">
          <a href="subjects">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Subjects</span>
          </a>
        </li>
        <li class="zone2">
          <a href="examlist">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Exam List</span>
          </a>
        </li>
        <li class="zone2"> 
          <a href="setting">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out zone2">
          <a href="/public/index.html">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav >
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Welcome Admin</span>
      </div>
      <div class="search-box ">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <img src="../Demo/admin.png" alt="admin">
        <span class="admin_name">Admin Name</span>
      </div>
    </nav>

    <div class="home-content ">
      <div class="overview-boxes">
        <div class="box zone2">
          <div class="right-side">
            <div class="box-topic">Total Students</div>
            <div class="number ">40</div>
          </div>
           <img src="../Demo/18.png" alt="student" class='bx bx-cart-alt cart'>
        </div>
        <div class="box zone2">
          <div class="right-side">
            <div class="box-topic">Total Teachers</div>
            <div class="number">8</div>
          </div>
          <img src="../Demo/teacher.png" alt="Teachers" class='bx bxs-cart-add cart two' >
        </div>
        <div class="box zone2">
          <div class="right-side">
            <div class="box-topic">Department</div>
            <div class="number">4</div>
          </div>
           <img src = "../Demo/16.png" class='bx bx-cart cart three' alt="Department">
        </div>
        <div class="box zone2">
          <div class="right-side">
            <div class="box-topic">Exams held</div>
            <div class="number">12</div>
          </div>
          <img src="../Demo/1.png" class='bx bxs-cart-download cart four' alt="Exams">
    
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Exam</div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">Enrolled No.</li>
              <% if (registration.length > 0){ %>
                <% for(var i = 0;i<registration.length;i++){ %>
        
                      <li><a href="#"><%- registration[i].Enrollment_Number%></a></li>
                        
                    <% } %>
              <% }else{ %>
                    <h1>Students Data Not Found</h1>
                  <% } %>
             
              
            </ul>
            <ul class="details">
            <li class="topic">Student</li>
            <% if (registration.length > 0){ %>
              <% for(var i = 0;i<registration.length;i++){ %>
      
                    <li><a href="#"><%- registration[i].Full_Name%></a></li>
                      
                  <% } %>
            <% }else{ %>
                  <h1>Students Data Not Found</h1>
                <% } %>
          </ul> 
          <ul class="details">
            <li class="topic">Status</li>
            <li><a href="#">Pass</a></li>
            <li><a href="#">Pass</a></li>
            <li><a href="#">Pass</a></li>
            <li><a href="#">Pass</a></li>
            <li><a href="#">Fail</a></li>
            <li><a href="#">Pass</a></li>
            <li><a href="#">Fail</a></li>
             <li><a href="#">Pass</a></li>
            <li><a href="#">Fail</a></li>
          </ul>
          <ul class="details">
            <li class="topic">CGPA</li>
            <li><a href="#">8.5</a></li>
            <li><a href="#">6.3</a></li>
            <li><a href="#">8.8</a></li>
            <li><a href="#">9.6</a></li>
            <li><a href="#">4.2</a></li>
            <li><a href="#">8.9</a></li>
            <li><a href="#">3.2</a></li>
             <li><a href="#">8.5</a></li>
             <li><a href="#">5.5</a></li>
          </ul>
          </div>
          <div class="button">
            <a href="#">See All</a>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Subjects</div>
          <ul class="top-sales-details">
            <li>
            <a href="#">
              <img src="../Demo/toc.jpeg" alt="sdf">
              <span class="product">TOC</span>
            </a>
            <span class="price">CS-501</span>
          </li>
          <li>
            <a href="#">
               <img src="../Demo/dbms.png"alt="">
              <span class="product">DBMS   </span>
            </a>
            <span class="price">CS-502</span>
          </li>
          <li>
            <a href="#">
             <img src="../Demo/cs.png" alt="">
              <span class="product">Cyber Security</span>
            </a>
            <span class="price">CS-503(C)</span>
          </li>
          <li>
            <a href="#">
              <img src="../Demo/iwt.png" alt="">
              <span class="product"> IWT  </span>
            </a>
            <span class="price">CS-504(A)</span>
          </li>
          <li>
            <a href="#">
              <img src="../Demo/linux.jpeg" alt="">
              <span class="product">Linux Lab</span>
            </a>
            <span class="price">CS-505</span>
          </li>
          <li>
            <a href="#">
              <img src="../Demo/python.png" alt="">
              <span class="product">Python Lab</span>
            </a>
            <span class="price">CS-506</span>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>
